.container{
	width: 600px;
	margin: auto;
}
form ul{
	padding: 0;
}
form li{
	list-style: none;
}
form input[type=text] ,form textarea{
	margin-bottom: 1.5em;
	width: 100%;
}
form input[type=text] ,form textarea : hover{
	background-color: blue;
}
form textarea{
	height: 300px;
}
label{
	display: block;
}